.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;

  grid-template-areas:
  "header header header"
  "nav nav nav"
  "section section aside"
  "article article aside"
  "footer footer footer";
}

.header{
  grid-area: header; 
text-align: center; 
padding: 10px;
color: darkolivegreen;
text-decoration: underline overline black;
background-color: whitesmoke;
}

.nav{
  grid-area: nav; 
  padding:10px; 
  text-align: center; 
  color:black;
  background-color:whitesmoke;}

.section{
  grid-area: section;
  background-color:whitesmoke;
  }

.aside{ 
  grid-area: aside; 
  background-color:whitesmoke;
  }

.article{
  grid-area: article;
  background-color:whitesmoke;
  }


.footer{
  grid-area: footer; 
  text-align: center;
  background-color:black;
  color: whitesmoke;
  }

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  display: inline-block;
  
}

li{
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: underline overline olive;
  font: small-caps bold 15px/1 sans-serif;

}

.nav{
  grid-area: nav;
  overflow: scroll;
}

h1{
  text-align: center;
  font: small-caps bold 48px/1 sans-serif;
}

h2{
  text-align:center;
  font: small-caps bold 24px/1 sans-serif;
}

p{
  font: caption;
}

li a:hover{
  background-color: darkgrey;
  color: greenyellow;
}